<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>The Woodlands Country Club</string>
		<key>Membership History</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>The Club at Carlton Woods Creekside</string>
		<key>Membership History</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cypresswood Golf Club</string>
		<key>Membership History</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>The Oaks &amp; Panther Trail Golf Courses</string>
		<key>Membership History</key>
		<integer>5</integer>
	</dict>
</array>
</plist>
