<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>489323550811-r01sd918sqgepoal6er57ni3ks1qua97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489323550811-r01sd918sqgepoal6er57ni3ks1qua97</string>
	<key>API_KEY</key>
	<string>AIzaSyAo0N_SnfFou67WD1yTG0oETum6dkIq0TY</string>
	<key>GCM_SENDER_ID</key>
	<string>489323550811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Loop</string>
	<key>PROJECT_ID</key>
	<string>loop-2f969</string>
	<key>STORAGE_BUCKET</key>
	<string>loop-2f969.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:489323550811:ios:11e5a726964d72ec</string>
	<key>DATABASE_URL</key>
	<string>https://loop-2f969.firebaseio.com</string>
</dict>
</plist>